@import "../../designSystem/mixins.scss";

.container {
  flex-grow: 1;
  width: calc(100% - 64px);
  overflow-y: scroll;
  position: relative;
  padding: 32px;
  @include flex-column;
  align-items: center;
  gap: 16px;
}