@import "../../designSystem/mixins.scss";
@import "../../designSystem/variables.scss";

.main {
  @include flex-column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;

  .registerForm{
    @include flex-column;
    gap: 16px;

    .formContent {
      @include flex-row;
      justify-content: center;
      padding: 32px;
      border: $border;
      border-radius: var(--ant-border-radius);

      .horizontalDivider {
        width: auto;
        height: 1px;
        margin: 16px 0;
      }
      
      .verticalDivider {
        width: 1px;
        height: auto;
        margin: 0 16px;
      }

      @media screen and (max-width: 768px) {
        & {
          flex-direction: column;
        }
      
        .verticalDivider {
          display: none;
        }
      }

      .formControlsContainer {
        width: 100%;

        @media screen and (max-width: 768px) {
          & {
            padding-top: 8px;
            margin-top: 16px;
            border-top: $border;
          }
        }
      }

      .formColumn, .formControlsContainer {
        @include flex-column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        .formControl {
          width: 100%;

          &.logoUpload {
            display: flex;
            flex-direction: row;
            gap: 16px;

            label {
              justify-self: unset;
            }
          }
        }

        .terms {
          width: 100%;
          align-self: start;
        }
      }
    }
    
    button {
      width: fit-content;
      margin: 0 auto;
    }
  }
}