.associationMembers {
  & td {
    align-content: flex-start;
  }

  width: 100%;

  overflow-x: auto;
  background-color: var(--ant-color-bg-container);
}

.actionButton:not(:last-child) {
  margin-right: 8px;
}