@import "../../designSystem/mixins.scss";

.container {
  @include flex-row;
  justify-content: space-evenly;
  gap: 16px;
  margin-top: 16px;

  @media screen and (max-width: 768px) {
    & {
      flex-direction: column;
    }
  }
  
  .profile {
    @include flex-column;
    gap: 16px;
    flex-grow: 1;
    height: 100%;
  }

  .invite {
    @include flex-column;
    gap: 16px;
    flex-grow: 1;
    height: 100%;
  }
}
