@import "../../../designSystem/mixins.scss";

.content {
  padding: 24px 16px;
  overflow: auto;
}

.appContainer {
  height: 100%;

}

.logoContainer {
  @include flex-row;
  justify-content: center;
}

.logo {
  height: 32px;
  margin: 8px;
}