.formContent {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h3 {
    margin: 0
  }

  label {
    display: block;
    padding-bottom: 4px;
  }
}

.selectWithLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  .selectInput {
    flex-grow: 1;
  }
}

.option {
  display: flex;
  gap: 8px;

  .deleteOptionButton {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--ant-red-7);
    color: var(--ant-red-1);
  }
}

.createMeetingConfirmation {
  display: flex;
  gap: 16px;
  align-items: center;

  .checkbox {
    display: flex;
  }

  label {
    padding-bottom: 0;
  }
}
